/* Reset Boostrap */

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

/* Scroll bar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body, html{
    position: relative;
}

.form-control:focus{
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

/* Navbar */
.navbar{
    /* background-image: linear-gradient(to right, #eedcd2 20%, #e8d8c5 70%); */
    /* background-color:#d1d8e0 !important; */
    /* background-color: #fefbfa !important; */
    /* background-color: antiquewhite !important; */
    /* background-color: #f7d9af !important; */
    /* background-color: #f7eac8 !important; */
    /* background-color: #fdf5e6 !important; */
    background-color: #fcf6ed !important;
}

.navbar-brand, .logo-footer{
    font-family: 'Courgette', cursive;
    font-size: 2em;
    color: #28a745 !important;
}

.navbar ul li{
    margin: 0 0.4rem;
}

.navbar ul li a i{
    padding-right: 0.4rem;
}

@media only screen and (min-width: 992px){
    .navbar{
        height: 4rem;
    }

    .navbar ul li{
        line-height: calc(4rem - 1rem);
    }

    .navbar ul li:hover a{
        color: #28a745 !important;
    }

    .navbar ul .active{
        height: 4rem;
        line-height: 3rem;
        border-bottom: 0.2rem solid #28a745;
        padding-bottom: 1rem;
    }

    .navbar ul .active a{
        color: #28a745 !important;
    }
}

@media only screen and (max-width: 992px){
    #btn-dat-hang, #btn-tim-kiem{
        width: 100%;            
    }

    .navbar{
        height: auto;
        line-height: 2rem;
    }

    .navbar ul .active{
        border-left: 0.2rem solid #28a745;
        margin-left: -1rem !important;
        padding-left: 1.2rem;
    }

    .navbar ul .active a{
        color: #28a745 !important;
    }
}

/* Index */
#gioi-thieu-1,
#gioi-thieu-2,
#gioi-thieu-3{
    /* background-image: url("images/banner/image-nha-hang.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

#gioi-thieu-1::after,
#gioi-thieu-2::after,
#gioi-thieu-3::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 10%;
    z-index: 1;
}

.gioi-thieu--text{
    /*padding: 10em 5em;*/
    margin: 10em 6em;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5em;
    border-radius: 1.5em;
    z-index: 2;
    transition: all .3s ease-in-out;
}

.gioi-thieu--text:hover{
    background: rgba(0, 0, 0, 0.8);
}

.gioi-thieu--text p{
    color: #FFF;
    /*text-shadow: 2px 2px 2px #000;*/
    font-size: 1.2em;
}

.title{
    /* font-family: 'Lobster', cursive; */
    font-family: 'Pattaya', sans-serif;
    color: #FFF;
    text-shadow: 2px 4px 2px #000;
}

/* Giỏ hàng */
#gio-hang .so-luong{
    width: 50px;
    text-align: center;
    /* border-radius: 5px; */
    border: none;
    /* border-bottom: 1px solid #000; */
    background: none;
    margin: 0 0.3rem;
}

#gio-hang .img-cart:hover{
    transform: scale(3);
    transition: all .2s ease-in-out;
}

/* Danh sách món */
hr {
    margin: 0.5rem 0;
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 576px){
    .san-pham{
        width: 50%;
        /* text-align: center; */
    }
}

@media only screen and (max-width: 991px){
    .san-pham{
        /* width: 50%; */
        text-align: center;
        /* flex: 1; */
        /* justify-content: space-between; */
    }

    .theo-gia{
        margin-top: 0.5em;
    }
}

.list-group-item:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

#tittle ._hinh_{
    /* background-image: url('./images/banner/banner-tittle-theatrer-bar.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 193px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tittle ._hinh_ .tittle{
    color: #FFF;
    text-shadow: 3px 3px #000;
    text-transform: uppercase;
    padding: 1.5rem 0;
}

.san-pham-container .title-ten-loai{
    color: #28a745;
}

.san-pham{
    padding: 0.7em;
    /* margin-top: 0.1em; */
}

.san-pham ._so-luong{
    display: none;
}

.san-pham .img-san-pham{
    position: relative;
    border-radius: 10px;
    /* width: calc(100% - 0.7em); */
    width: 100%;
    text-align: center !important;
    /* margin: 0.7em 0; */
}

.san-pham .don-gia{
    font-size: 1.2em;
}

.san-pham:hover{
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    /* max-zoom: 1%; */
    /* overflow: hidden; */
    transform: scale(1.05);
    transition: ease-in-out 0.4s;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* border-top: 1px solid rgba(223, 0, 41, 0.9); */
    /* border: 1px solid rgba(223, 0, 41, 0.5); */
}

.san-pham .tag{
    position: absolute;
    margin-top: calc(0.4em + 0.42em);
    padding: 0.2em 0.4em 0.2em 0.3em;
    font-size: 13px;
    top: 0;
    left: 1;
    background-color: #ffdf98;
    /* width: calc(100% - 5em); */
    max-width: 8em;
    /* min-width: 2.6em; */
    min-width: auto;
    border-radius: 0px 10px 10px 0;
    /* justify-content: space-between; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.san-pham .thong_tin_mon .ten-mon{
    position: absolute;
    max-width: 90%;
    min-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    left: 0;
    margin: 0 0.5em;
}

#mon-an-trong-container{
    margin: 01vh;
    text-align: center;
}

#mon-an-trong-container .icon-mon-an-trong{
    font-size: 4rem;
}

@media only screen and (max-width: 992px){
    #mon-an-trong-container{
        margin: 1.2rem 0;
    }
}

#form-loc button[type="submit"]{
    /* margin-top: 1rem; */
    width: 80%;
    margin: 1rem 10%;
}

@media only screen and (max-width: 992px){
    #form-loc button[type="submit"]{
        width: 100%;
        margin: 1rem 0;
    }
}

/* Footer */

#footer a{
    text-decoration: none;
}

#footer a .icon-social{
    /* width: 2em;
    height: 2em; */
    font-size: 2rem;
    margin: 0 0.2em;
    color: #28a745;
    transition: 0.2s ease-in-out;
    /* color: #000; */
    /* color: darkgray; */
}

#footer a:hover > .icon-social{
    text-decoration: none;
    /* color: #dc3545; */
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.7rem;
}

#footer ul{
    padding-inline-start: 0 !important;
}

/* Chi tiết món */
#img-mon-an-container .img-mon-an{
    width: 100%;
}

/* Liên hệ */

#ban-do iframe{
    width: 100%;
    height: 87%;
}

@media only screen and (max-width: 767px){
    .container-gop-y{
        padding: 0 2rem !important;
    }

    .container-gop-y label{
        padding: 0.5rem 0;
    }

    #ban-do{
        padding: 0;
    }

    #ban-do iframe{
        width: 100%;
        height: 30vh;
    }
}